{% extends "::layout.html.twig" %}

{% block title %}Index des mascottes{% endblock %}

{% block body %}
		{% block petmanager_title %}<h1> Index des mascottes </h1>{% endblock %}
			{% block petmanager_body %}
				
			{% endblock %}

{% endblock %}