{% extends "::layout.html.twig" %}

{% block title %}Mascotte - {{basename}}{% endblock %}

{% block body %}
		<h1> {{basename}} </h1>
				


			{% block petmanager_body %}
				
			{% endblock %}

{% endblock %}